<?xml version="1.0" encoding="UTF-8"?>
<SOAP-CALL>
    <SOAP-FIELDS>
        <service>SearchRetrieveService</service>
        <port>SearchRetrieve</port>
        <operation>retrieve</operation>
        <URL>http://wok-ws.isiknowledge.com/esti/soap/SearchRetrieve</URL>
        <action>retrieve</action>
    </SOAP-FIELDS>
    <REQUEST>
        <SOAP-ENV:Envelope
            xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/">
            <SOAP-ENV:Header/>
            <SOAP-ENV:Body>
                <oxy:retrieve
                    SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    xmlns:oxy="http://esti.isinet.com/soap/search">
                    <databaseID>BIOSIS</databaseID>
                    <primaryKeys>PREV200700008202</primaryKeys>
                    <!-- It seems to work best one record at a time -->
                    <sort>Date</sort>
                    <fields/>
                    <!-- get all fields by leaving this blank, that seems to work best.  To pass multiple fields put spaces? -->
                </oxy:retrieve>
            </SOAP-ENV:Body>
        </SOAP-ENV:Envelope>
    </REQUEST>
</SOAP-CALL>
