<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>
	<servlet>
		<servlet-name>fetch</servlet-name>
		<servlet-class>QueryServlet</servlet-class>
		<init-param>
			<param-name>contextName</param-name>
			<param-value>osp</param-value>
		</init-param>
		<init-param>
			<param-name>databaseName</param-name>
			<param-value>OSPLOCAL</param-value>
		</init-param>
		<init-param>
			<param-name>TOMCAT_HOME</param-name>
			<param-value>C:/usr/local/tomcat5.0</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>authenticate</servlet-name>
		<servlet-class>Authenticate</servlet-class>
		<init-param>
			<param-name>contextName</param-name>
			<param-value>osp</param-value>
		</init-param>
		<init-param>
			<param-name>databaseName</param-name>
			<param-value>OSPLOCAL</param-value>
		</init-param>
		<init-param>
			<param-name>TOMCAT_HOME</param-name>
			<param-value>C:/usr/local/tomcat5.0</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>logout</servlet-name>
		<servlet-class>Logout</servlet-class>
		<init-param>
			<param-name>properties</param-name>
			<param-value>WEB-INF/classes/formbeans/Login_forms.properties</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>fetch</servlet-name>
		<url-pattern>/fetch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authenticate</servlet-name>
		<url-pattern>/authenticate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<taglib>
		<taglib-uri>/WEB-INF/tlds/database.tld</taglib-uri>
		<taglib-location>/WEB-INF/tlds/database.tld</taglib-location>
	</taglib>
</web-app>
